= content_for :script do
  = render "scripts/articles.js"

h1
  | Editing Article
div#app
  = render 'form'
  = link_to 'Show', @article
  |  |
  = link_to 'Back', articles_path
  test-component hoge="hello!"

javascript:
  var app = new Vue({
    el: "#app",
    data: {
      title: "",
      body: "",
      year: null,
    },
    components: {
      'test-component': test
    },
    mounted: function() {
      this.title = #{raw @article.title.to_json}
      this.body = #{raw @article.body.to_json}
      this.year = #{raw @article.year.to_json}
    }
  })
